body {
	padding-top: 50px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: #ccc;
}

strong {
	font-weight: bold;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 30px;
}

h3 {
	font-size: 1.25em;
	margin: 20px 0 10px 0;
	font-weight: bold;
}

p {
	margin-bottom: 1em;
	line-height: 1.1;
}

.strong {
	font-weight: bold;
}

.big-text {
	font-size: 1.75em;
	font-weight: bold;
	color: #f00;
}

#chuckHolder {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 500px;
	max-height: 331px;
	margin: 0 auto 10px auto;
	overflow: hidden;
}

#chuckHolder > img {
	width: 100%;
	height: 100%;
	background-image: url(../images/chucknorrismain.jpg);
}

#blackness { 
	position: absolute;
	display: block;
	height: 331px;
	width: 100%;
	background-color: #000;
	max-height: 331px;
	max-width: 500px;
	top: 0;
}

#word {
	margin: 0 auto;
}
.letterbox {
	border-bottom: 2px solid #000;
	width: 30px;
	text-align: center;
	float:left;
	margin-right: 15px;
	padding-bottom: 5px;
	min-height: 37px;
	font-size: 30px;
}

.letterbox:last-of-type {
	margin-right: 0;
}

#triesHeader {
	display: none;
}

.clearfix::after {
	content:'';
	display: block;
	clear: both;
}

.results {
	display: none;
}

.resultText {
	font-weight: bold;
	font-size: 1.5em;
	color: #f00;
}

#wins {
	padding-right: 20px;
}

.red {
	color: #f00;
}